html body {
    position: relative;
    min-height: 200%;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-family: 'Alice', serif;
    font-size: x-large;

  
}


.glyphicon{
    font-size:100px;
    /*BLUE*/
    color:rgba(77, 113, 144, 1);
    /*color:white;*/
    text-align: center;
}

.info-box{
    background-color: rgba(77, 113, 144, 1);
    color: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;

}

.info-box a{
    color:white;
}


.section{
    /*background-image:url(watercolor.jpg);*/


    margin-top: 40px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.7);
    border-radius:6px;
}

.section-title{
      font-size: 60px;
}







/* PLACES WITH LOBSTER FONT
-------------------------------------------------- */
.navbar-bran{
     font-family: 'Lobster', cursive;

}

.navbar-inverse .navbar-brand {
    font-family: 'Lobster', cursive;
}


h1, h2, h3, h4, h5, h6{
    font-family: 'Lobster', cursive;
}




/* MAP
-------------------------------------------------- */
 #map-canvas{
    width:500px;
    height:395px;
 }





/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar-brand{
    font-size:x-large;
}
.navbar
{
      background:rgba(10,10,10,0.7);
      border: none;
      align:center;
      margin-left:auto;
      margin-right:auto;
      text-shadow: 5px 5px 5px rgba(0,0,0,0.3);
      font-size:large;
}

.navbar-inverse .navbar-brand
{
    color:white;
}

.navbar-inverse .navbar-brand:hover
{
    text-decoration: underline;

}

.navbar-inverse .navbar-nav>li>a
{
    color:white;
}

.navbar-inverse .navbar-nav>li>a:hover
{
    text-decoration: underline;

}







/* CUSTOMIZE THE carousel cover
-------------------------------------------------- */
#cover {
    min-height:100%;
    min-width: 100%;

    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);

    text-align: center;
    color: white;

}


#slide1{
     background-image:url(p1.jpeg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
 }

 #slide2{
     background-image:url(p2.jpeg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
 }

 #slide3{
     background-image:url(p3.jpeg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
 }

 #slide4{
      background-image:url(BH_sign.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  }

#myCarousel{
    min-height:100%;
    min-width: 100%;

    background-color:black;
}

.placeholder{
    visibility: hidden;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;


}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background: none;
    font-size: 18px;
}

.carousel-control.left
{
    background:none;
}

.carousel-control.right
{
    background:none;
}














