html body {
    position: relative;
    min-height: 200%;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);

    font-family: 'Arvo', serif, font-weight: 400;
    background-color:#f1f1f1;
}




/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar
{
      background: none;
      border: none;
      align:center;
      margin-left:auto;
      margin-right:auto;
      text-shadow: 5px 5px 5px rgba(0,0,0,0.3);

}





/* CUSTOMIZE THE COVER
-------------------------------------------------- */
#cover {
    min-height:100%;
    min-width: 100%;

    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);

    text-align: center;
    color: white;
    padding-top:15%;

    background-image:url(BH_sign.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* PLACES WITH LOBSTER FONT
-------------------------------------------------- */
.navbar-bran{
     font-family: 'Lobster', cursive;
}

.navbar-inverse .navbar-brand {
  font-family: 'Lobster', cursive;
 }


h1{
 font-family: 'Lobster', cursive;
}





/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;


}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background: none;
    font-size: 18px;
}

.carousel-control.left
{
    background:none;
}

.carousel-control.right
{
    background:none;
}














